<div class="well bs-component">
  <form #addWeightForm="ngForm" (ngSubmit)="saveWeight(addWeightForm.value)" class="form-horizontal">
    <fieldset>
      <legend>Add New Weight</legend>
      <div class="form-group">
        <label for="inputWeight" class="col-lg-3 control-label">Weight</label>
        <div class="col-lg-3">
          <input
            class="form-control"
            id="inputWeight"
            placeholder="Weight"
            name="weight"
            type="number"
            min="10"
            max="300"
            value="92.8"
            required
            ngModel
            #weight="ngModel"
          >
          <div class="alert alert-danger" *ngIf="weight.touched && weight.errors?.required">
            <div *ngIf="weight.errors.required">
              Weight is required.
            </div>
          </div>

        </div>
      </div>
      <div class="form-group">
        <label for="inputDate" class="col-lg-3 control-label">Date</label>
        <div class="col-lg-3">
          <mat-form-field>
            <input matInput [matDatepicker]="inputDate"
                   class="form-control"
                   id="inputDate"
                   placeholder="Date"
                   name="date"
                   ngModel
                   disabled
                   required="true"
                   #date="ngModel">
            <mat-datepicker-toggle matSuffix [for]="inputDate"></mat-datepicker-toggle>
            <mat-datepicker #inputDate disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="alert alert-danger" *ngIf="date.touched && date.errors?.required">
          <div *ngIf="date.errors.required">
            Date is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-3">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
