<h1>BMI calculator</h1>


<form (ngSubmit)="onSubmit()" #bmiForm="ngForm">
  <div class="form-group">
    <label for="height">Height:</label>
    <input type="text"
           class="form-control"
           id="height"
           required
           name="height"
           [(ngModel)]="bmi.height"
           maxlength="3"
           minlength="2"
    />
  </div>

  <label for="wieght">Weight:</label>
  <input type="text"
         class="form-control"
         id="wieght"
         required
         name="wieght"
         [(ngModel)]="bmi.weight"
         maxlength="3"
         minlength="2"
  />


  <label for="sex">sex:</label>
  <input type="text"
         class="form-control"
         id="sex"
         required
         name="sex"
         [(ngModel)]="bmi.sex"

  />

  <button type="submit" class="btn btn-success">Submit</button>
</form>
<h2>Body mass index:{{bmi.index}}</h2>
<pre>{{ bmi | json }}</pre>
