<p>fitness-weight-edit works!</p>

<form #editWeightForm="ngForm" (ngSubmit)="editWeight(editWeightForm.value)" class="form-horizontal">
  <fieldset>
    <legend>Edit Weight</legend>
    <input type="hidden" class="form-control" id="inputId" name="id" [(ngModel)]="weight.id">
    <div class="form-group">
      <label for="inputWeight" class="col-lg-3 control-label">Weight</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="inputWeight" name="weight" [(ngModel)]="weight.weight">
      </div>
    </div>
    <div class="form-group">
      <label for="inputDate" class="col-lg-3 control-label">Date</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="inputDate" name="date" [(ngModel)]="weight.date" readonly>
      </div>
    </div>


    <div class="form-group">


      <div class="col-lg-8 col-lg-offset-3">
        <div mat-dialog-actions>
          <button type="submit" class="btn btn-sm btn-primary" cdkFocusInitial>Save changes</button>
          <button class="btn btn-sm btn-danger" mat-button (click)="onNoClick()" id="weightEditCancelBtn">cancel</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>

